@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot") format("embedded-opentype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'custom-icons';
  src: url("../fonts/custom-icons/custom-icons.eot?10xlez");
  src: url("../fonts/custom-icons/custom-icons.eot?10xlez#iefix") format("embedded-opentype"), url("../fonts/custom-icons/custom-icons.ttf?10xlez") format("truetype"), url("../fonts/custom-icons/custom-icons.woff?10xlez") format("woff"), url("../fonts/custom-icons/custom-icons.svg?10xlez#custom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bot-submit:before {
  content: "\e900";
}

.icon-bot-file:before {
  content: "\e901";
}

.icon-chevron-down:before {
  content: "\e902";
}

.icon-link-arrow-right:before {
  content: "\e903";
}

.icon-home:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-height:before {
  content: "\e906";
}

.icon-document:before {
  content: "\e907";
}

.icon-chevron-right:before {
  content: "\e908";
}

.icon-chevron-left:before {
  content: "\e909";
}

.icon-info:before {
  content: "\e90a";
}

.icon-airport:before {
  content: "\e90b";
}

.icon-weight:before {
  content: "\e90c";
}

.icon-sun:before {
  content: "\e90d";
}

.icon-play:before {
  content: "\e90e";
}

.icon-drone:before {
  content: "\e90f";
}

.icon-union:before {
  content: "\e910";
}

.icon-eye:before {
  content: "\e911";
}

.icon-distance:before {
  content: "\e912";
}

.icon-people:before {
  content: "\e913";
}

.container-main {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.slider-home {
  position: relative;
  height: 380px;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-home__control {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-home__arrow {
  padding: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider-home__arrow:hover {
  color: #0075BE;
}

.slider-home__arrow-end {
  opacity: 0.5;
  cursor: auto !important;
}

.slider-home__arrow-end:hover {
  color: #fff;
}

.slide-accounting {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slide-accounting__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide-accounting__inner {
  width: 100%;
}

.slide-accounting__content {
  width: 100%;
  margin-left: 97px;
}

.slide-accounting__subtitle {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #2E2E2E;
  opacity: 0.6;
}

.slide-accounting__title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #222222;
}

.slide-accounting__link {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 34px 16px 30px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #0075BE;
  border-radius: 25px;
  border: 1px solid #0075BE;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slide-accounting__link:hover {
  color: #0075BE;
  background-color: #fff;
}

.slide-accounting__link-icon {
  font-size: 14px;
  margin-left: 20px;
  opacity: 0.7;
}

/* Director section Start */

.director {
  margin-top: 60px;
}

.director__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin: 0;
}

.director__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background-color: #fff;
}

.director__img {
  display: block;
  width: 443px;
  height: 283px;
  position: relative;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.director__img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 97px 146px 0;
  border-color: transparent #fff transparent transparent;
}

.director__img::before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-style: solid;
  border-width: 0 0 147px 31px;
  border-color: transparent transparent #fff transparent;
}

.director__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 30px 40px;
}

.director__name {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

.director__post {
  font-size: 20px;
  line-height: 27px;
  opacity: 0.7;
}

.director__subtitle {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.director__phone-title {
  margin-top: 25px;
}

.director__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #0075BE;
  text-decoration: none;
}

/* Director section End */

.main-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 59px;
}

.main-pages__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 467px;
  max-width: 18%;
  text-align: center;
  color: #222222;
  font-weight: 600;
  font-size: 20px;
  line-height: 125.18%;
  background-color: #fff;
}

.main-pages__column + .main-pages__column {
  margin-left: 20px;
}

.main-pages__title {
  padding: 50px 20px 0;
}

.main-pages__box {
  overflow: hidden;
  position: relative;
}

.main-pages__box::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 212px 47px 0;
  border-color: transparent #fff transparent transparent;
}

.main-img-one {
  height: 300px;
}

.main-img-two {
  height: 250px;
}

.main-img-three {
  height: 201px;
}

.main-img-four {
  height: 250px;
}

.main-img-five {
  height: 300px;
}

@media (max-width: 1199px) {
  .slider-home {
    height: 302px;
  }

  .slide-accounting__bg {
    background-position: 54% 42%;
  }

  .slide-accounting__content {
    margin-left: 0;
  }

  .director {
    margin-top: 80px;
  }

  .director__inner {
    margin-top: 30px;
  }

  .director__img {
    width: 346px;
    height: 381px;
    background-position: 50% top;
  }

  .director__img::after {
    top: 0;
    right: 0;
    border-width: 0 97px 142px 0;
  }

  .director__img::before {
    bottom: -1px;
    right: -1px;
    border-width: 0 0 240px 30px;
  }

  .director__content {
    padding: 30px;
  }

  .director__post {
    margin-top: 5px;
  }

  .director__phone-title {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .slider-home__control {
    display: none;
  }

  .slider-home {
    height: 335px;
  }

  .slide-accounting__bg {
    height: 216px;
    background-size: cover;
    background-position: 60% 42%;
  }

  .slide-accounting {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .slide-accounting__inner {
    background-color: #EAE9E7;
  }

  .slide-accounting__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .slide-accounting__title {
    font-size: 20px;
    line-height: 25px;
  }

  .slide-accounting__link {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .director {
    margin-top: 60px;
  }

  .director__inner {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .director__img {
    width: 100%;
    background-position: 50% top;
  }

  .director__img::after {
    display: none;
  }

  .director__img::before {
    display: none;
  }

  .director__name {
    font-size: 26px;
    line-height: 35px;
  }

  .director__content {
    padding: 20px;
  }

  .director__post {
    font-size: 16px;
    line-height: 22px;
  }

  .director__subtitle {
    margin-top: 10px;
  }

  .director__phone-title {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .director__img {
    height: 197px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  }
}